[submodule "config/kak/autoload/gdb"]
	path = config/kak/autoload/gdb
	url = https://github.com/occivink/kakoune-gdb
[submodule "config/kak/autoload/kakoune-find"]
	path = config/kak/autoload/kakoune-find
	url = https://github.com/occivink/kakoune-find
[submodule "config/kak/autoload/parinfer-rust"]
	path = config/kak/autoload/parinfer-rust
	url = https://github.com/eraserhd/parinfer-rust
[submodule "config/kak/autoload/repl-buffer"]
	path = config/kak/autoload/repl-buffer
	url = https://gitlab.com/Screwtapello/kakoune-repl-buffer
[submodule "config/kak/autoload/git-async"]
	path = config/kak/autoload/git-async
	url = https://github.com/ifreund/git-async.kak
