/**
 * solarized dark colorscheme:
 *
 * base03    #002b36
 * base02    #073642
 * base01    #586e75
 * base00    #657b83
 * base0     #839496
 * base1     #93a1a1
 * base2     #eee8d5
 * base3     #fdf6e3
 * yellow    #b58900
 * orange    #cb4b16
 * red       #dc322f
 * magenta   #d33682
 * violet    #6c71c4
 * blue      #268bd2
 * cyan      #2aa198
 * green     #859900
 */

* {
    border: none;
    border-radius: 0;
    font-family: DejaVuSansMono;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: #002b36; /*base03*/
    border-top: 3px solid #586e75; /*base01*/
    color: #839496; /*base0*/
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#mode,
#tray,
#workspaces button {
    padding: 2px 5px;
    margin: 0px 4px;
    color: #839496; /*base0*/
    background-color: #073642; /*base02*/
    border-top: 3px solid #839496; /*base0*/
    border-bottom: 3px solid #073642; /*base02*/
}

#clock,
#cpu,
#memory,
#temperature,
#network,
#mode,
#tray {

}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #073642; /*base02*/
}

#workspaces button.focused {
    color: #93a1a1; /*base1*/
    border-top: 3px solid #93a1a1; /*base1*/
    border-bottom: 3px solid #839496; /*base1*/
}

#mode,
#temperature.critical,
#workspaces button.urgent {
    color: #93a1a1; /*base1*/
    border-top: 3px solid #dc322f; /*red*/
    border-bottom: 3px solid #dc322f; /*red*/
}
